- content_for :title, 'About Us'

.app-box.pages
  .app-box-head
    %h1
      = yield :title
  .app-box-content
    = render 'flashes'

    %h3
      Thrively is passionate about feedback
    %p
      = t('.origin_story_html')
    %p
      We'd love to hear from you, so please
      #{mail_to Mailer::SUPPORT_ADDRESS, 'contact us'}.
