- content_for :title, 'Welcome to Thrively'

.hero-unit
  #hero-image
    = image_tag "thrively_desktop.png"
  %h1 Thrively
  %br/
  %h2 Radically simple feedback
  %p Easily exchange professional feedback with anyone with an email address.
  %br/
  %form.form-inline
    \ Sign up to request an invite to Thrively:
    %br/
    %input.span4.input-large.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
    %input.btn.btn-primary.btn-large{:name => "subscribe", :type => "submit", :value => "Request invite"}
.row.features
  .span4.feature-item
    %i.icon-retweet
    %p Collect feedback from your colleagues, peers, and mentors—even if they don't have a Thrively account!
  .span4.feature-item
    %i.icon-gift
    %p Thrively will always be free for individuals. No credit card needed.
  .span4.feature-item
    %i.icon-group
    %p Make sure your team stays on track with frequent, timely, and honest 360-degree feedback.