Thank you.
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
#{sender_name} is using Thrively to collect, give, and track feedback:
= root_url
\
Copyright 2012 - Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
