%p{ style: 'margin: 0 0 1.6em 0;' }
  Thank you.

%hr{style: 'height: 1px; background-color: #ccc; color: #ccc; border: none; border: 0px solid #ccc;'}
  %p{ style: 'margin: 0 0 1.6em 0;' }
    = "#{sender_name} is using"
    = link_to 'Thrively', root_url
    to collect, give, and track feedback.
  %p{ style: 'margin: 0 0 1.6em 0;' }
    \© 2012 – Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
