Hello there!
\
#{@user.name} has invited you to try Thrively. Sign up now to begin easily
exchanging professional feedback with anyone with an email address.
\
Follow the link below to accept the invitation:
\
= link_to accept_url(invite: @invite.token),
    accept_url(invite: @invite.token)
\
= render 'footer', sender_name: @user.name
