%div{ style: 'font-family: Arial,sans-serif; font-size:13px;' }
  %p{ style: 'margin: 0 0 1.6em 0;' }
    Hello there!

  %p{ style: 'margin: 0 0 1.6em 0;' }
    #{@user.name} has invited you to try Thrively.
    Sign up now to begin easily exchanging professional feedback with anyone
    with an email address.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Click the link below to accept the invitation:

  %p{ style: 'margin: 0 0 1.6em 0;' }
    = link_to accept_url(invite: @invite.token),
        accept_url(invite: @invite.token)

  = render 'footer', sender_name: @user.name
