%div{ style: 'font-family: Arial,sans-serif; font-size:13px;' }
  %p{ style: 'margin: 0 0 1.6em 0;' }
    Hi there!

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Thank you for giving feedback to #{@feedback_receiver.name} using
    #{link_to 'Thrively', root_url}.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    If you did not give this feedback, or you are confused why you received this
    message, please contact us at #{Mailer::SUPPORT_ADDRESS}.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    Yours for the feedback revolution,
  
  %p{ style: 'margin: 0 0 1.6em 0; color: #666;' }
    Nick Fassler, CEO and Founder of Thrively
  
  %hr{ style: 'height: 1px; background-color: #ccc; color: #ccc; border: none; border: 0px solid #ccc;'}

  %p{ style: 'margin: 0 0 1.6em 0;' } 
    Thrively is currently in our private beta test with a small group of users,
    but you can #{link_to 'request an invite', root_url} to be notified as soon
    as we are ready for you.

  %p{ style: 'margin: 0 0 1.6em 0;' }
    \© 2012 – Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
