Hello!
\
Thank you for giving feedback to #{@feedback_receiver.name} using Thrively.
\
If you did not give this feedback, or you are confused why you received this
message, please contact us at support@thrive.ly.
\
Yours for the feedback revolution,
\
Nick Fassler, CEO and Founder of Thrively
\
= "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
Thrively is currently in our private beta test with a small group of users, but
you can request an invite at www.thrive.ly to be notified as soon as we are
ready for you.
\
2012 – Thrively, Inc., 474 55th Street, Unit B, Oakland, CA 94609, USA
