.feedback.sent
  .history-icon
    %i.icon-retweet
  .history-content
    = t('.title_html',
        user: resource.receiver.decorator.link_to_profile,
        topic: resource.topic,
        time: time_ago_in_words(resource.created_at))
