.feedback.sent
  .history-icon
    %i.icon-retweet
  .history-content
    You gave feedback to #{resource.receiver.decorator.link_to_profile}
    about "#{resource.topic}"
    %span.timestamp
      #{time_ago_in_words(resource.created_at)} ago
