.request.received
  .history-icon
    %i.icon-bullhorn
  .history-content
    .title
      = t('.title_html',
        user: resource.user.decorator.link_to_profile,
        time: time_ago_in_words(resource.created_at))
    .topic
      = link_to resource.topic,
        new_feedback_path(feedback: { request_id: resource.id })
    .message
      = resource.message
