.request.sent
  .history-icon
    %i.icon-bullhorn
  .history-content
    = t('.title_html',
      user: raw(resource.invitees.map { |invitee| invitee.decorator.link_to_profile }.join(', ')),
      topic: resource.topic,
      time: time_ago_in_words(resource.created_at))