.request.received
  %i.icon-bullhorn
  = resource.user.decorator.link_to_profile
  requested feedback from you on
  = link_to resource.topic,
      new_feedback_path(feedback: { request_id: resource.id })
  .message
    = resource.message
