- content_for :title, 'Feedback Stream'

- if current_user.has_remaining_invites?
  = link_to 'Invite a friend', new_invite_path

.events
  - @events.each do |event|
    = render event.name_for(current_user), resource: event.resource

.paginate
  = will_paginate @events
