/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'font-awesome';

body {
  background-color: #D7E7EF;
  background-image: image-url('bg-texture.png');
  background-repeat: repeat;
  color: #333;
  font-size: 13px;
}

p {
  margin-bottom: 1.3em;
}

.action-btns .btn {
  font-size: 15px;
  margin: 5px 10px 0 0;
}

hr {
  border: 0;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #ffffff;
  margin: 18px 0;
}

footer {
  margin-bottom: 20px;
}

#main-content {
  margin-top: 60px;
}

#flash {
  .alert {
    margin: 5px 0 10px 0;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

.pagination {
  clear: both;
}

.footer-nav {
  font-size: 11px;
  text-align: right;

  #footer-help {
    text-decoration: none;

    .label {
      font-size: 11px;
    }
  }

  .footer-bar {
    color: white;
    padding: 0 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  }

  .footer-icon {
    margin-left: 5px;
    text-decoration: none;
    vertical-align: 1px;
  }

  .iubenda-embed {
    margin-right:20px;
  }

  #fbicon {
    background: transparent image-url('flw-facebook-icon.png') scroll no-repeat left center;
    margin-left: 5px;
    padding: 2px 0px 2px 20px;
    text-decoration: none;
  }

  #twicon {
    background: transparent image-url('flw-twitter-icon.png') scroll no-repeat left center;
    margin-left: 5px;
    padding: 2px 0px 2px 20px;
    text-decoration: none;
  }
}
