/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import 'font-awesome';

body {
  background-image: image-url('bg-texture.png');
  background-repeat: repeat;
  background-color: #D7E7EF; 
}

#main-content {
  margin-top: 60px;
}

#flash {
  .alert {
    margin: 5px 0 10px 0;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #ffffff;
}

footer {
  margin-bottom: 20px; 
}

.footer-nav {
  text-align: right; 
  font-size: 11px;

  #footer-help {
    text-decoration: none; 
  }

  .footer-bar {
    padding: 0 15px;
    color: white;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  }

  #fbicon {
    background: transparent image-url('flw-facebook-icon.png') scroll no-repeat left center;
    padding: 2px 0px 2px 20px;
    margin-left: 5px;
    text-decoration: none; 
  }

  #twicon {
    background: transparent image-url('flw-twitter-icon.png') scroll no-repeat left center;
    padding: 2px 0px 2px 20px;
    margin-left: 5px;
    text-decoration: none;
  }
}