.hero-unit {
  padding: 50px;

  h1 {
    font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }

  .email {
    font-size: 16px; 
    padding: 9px 14px;
  }

  #hero-image {
    float: right;
    margin: 20px 0 0 40px;
  }

  .call-to-action {
    margin-bottom: 10px;
  }
}

.features {

  .feature-item {
    margin-top: 10px;
    text-align: center;

    i {
      color: #4C83D6;
      font-size: 5em;
    }

    p {
      color: #333;
      font-size: 16px;
      line-height: 22px;
      margin-top: 15px;
      padding: 0 8px;
    }
  }
}