%hr
%footer
  .row
    .span4 &copy; Thrively 2012
    .span8.footer-nav
      %a#footer-help{:href => "#"}
        %span.label.label-warning Help
      %span.footer-bar &#124;
      %a{:href => "/pages/marketing"} Sign up
      %span.footer-bar &#124;
      %a{:href => "/pages/about"} About
      %span.footer-bar &#124;
      %a{:href => "/pages/jobs"} Jobs
      %span.footer-bar &#124;
      %a.iubenda-nostyle.no-brand.iubenda-embed{:href => "http://www.iubenda.com/privacy-policy/314743", 
        :style => "margin-right:20px", :title => "Privacy Policy"}>Privacy
      %a.footer-icon{:href => "http://facebook.com/thrively"}
        = image_tag('flw-facebook-icon.png', :title => 'Thrively on Facebook', :alt => 'Facebook')
      %a.footer-icon{:href => "http://twitter.com/thrively"}
        = image_tag('flw-twitter-icon.png', :title => 'Thrively on Twitter', :alt => 'Twitter')