%hr
%footer
  .row
    .span4 &copy; Thrively 2012
    .span8.footer-nav
      %a#footer-help{:href => "#"}
        %span.label.label-warning Help
      %span.footer-bar &#124;
      %a{:href => "#"} About
      %span.footer-bar &#124;
      %a{:href => "#"} Privacy
      %span.footer-bar &#124;
      %a{:href => "#", :style => "margin-right:20px"} Contact us
      %a#fbicon{:href => "http://facebook.com/thrively"}
      %a#twicon{:href => "http://twitter.com/thrively"}